<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to RPG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            RPG!!!
          </h1>
          <h2 class="subtitle">
            Node based rpg game.
          </h2>
          <a class="button is-rounded is-large" href="/create">Play Now</a>
          <a class="button is-danger is-rounded is-large" href="/player/arth">Arth</a>
        </div>
        
        
       


      </div>
    </section>
    <script src="/public/javascripts/initial.js"></script>
  </body>
</html>
