<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>dev mode on!!!</title>
  <link rel="stylesheet" href="/public/stylesheets/poke.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="game-container"></div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js'></script>
  <script  src="/public/javascripts/poke.js"></script>

</body>
</html>
